#full-content {
  background-color: #f2f4f8;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 16px;
}

.filter {
  padding-top: 0;
}

.help {
  background-color: #fff;
  min-height: 530px;
  padding: 20px 17px 13px 17px;
  border-radius: 8px;
  box-shadow: 0 2px 12px 0 rgba(18, 22, 25, 0.08), 0 2px 2px 0 rgba(18, 22, 25, 0.04);
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;

  p {
    margin: 0;
  }

  hr {
    margin: 10px 0;
  }
}
