<div class="fullscreen-video">
    <div class="container">
      <div class="row">
        <div class="main-row">
          <label>{{ "centrum_videa" | translate }}</label>
          <button   class="closeButton"  (click)="closeVideo()">{{ "zavrit" | translate }}</button>
          <a href="/downloads" target="_blank" class="download-button">{{
            "sprava_stahovani" | translate
          }}</a>
        </div>
      </div>

      <div class="header-splitter"></div>

    </div>

    
    
    <div class="video-content">
      <div class="container">
        <div class="row">
          <div class="column aside-box">
            <div class="row form">
              <div class="column controls-title">
                {{ "strely" | translate }}
              </div>
            </div>
            <div class="row form">
              <div class="column select">
                <label  class="uppercase"   >{{ "oznacit_videa" | translate }}</label>
                <button [class.active]="select_all" (click)="toggleSelectAll()">
                  <span class="select-all-chk" >{{ "vse" | translate }}</span>
                </button>
              </div>
            </div>
            <div class="row videos-row">
              <div class="video-selects">
                <div
                  class="video-button color-{{ video.color }}"
                  *ngFor="let video of videos2"
                  [ngClass]="{
                    active: video.active == true,
                    playing: video.playing == true
                  }"
                >
                  <div
                    class="checkbox"
                    (click)="toggleActiveVideo(video.index)"
                  ></div>
                  <div class="desc">
                    {{ getPlayerJersey(video.player) }}
                    {{ getPlayerName(video.player) }}
                    <!--{{getShotType(video)}}-->
                  </div>
                  <!-- <div class="download" (click)="download(video)" [ngClass]="{'active':video.downloading==true}"></div> -->
                  <div class="play" (click)="playVideo(video)"></div>
                  <div class="edit"></div>
                  <div
                    class="cropped"
                    [ngClass]="{
                      active: video.before != '-5' || video.after != '+5'
                    }"
                  >
                    <div class="tooltip">
                      {{ video.before }} {{ video.after }}
                    </div>
                  </div>
                  <div class="time" *ngIf="video_type != 'shift'">
                    {{ video.time | format_sesonds2 }}
                  </div>
                  <div  class="timeShift" *ngIf="video_type == 'shift'">
                    {{ video.start | format_sesonds2 }} -
                    {{ video.end | format_sesonds2 }}
                  </div>
                  <div class="state">{{ video.matchDate | match_date }}</div>
                </div>
              </div>
              <div class="video-selects-gradiant"></div>
            </div>
            <div class="row row-downloadButton">
              <button class="bg-button" (click)="downloadAll()">
                <label>{{ "download_selected_videos" | translate }}</label>
                <img src="/assets/icobutton-download.svg" />
              </button>
            </div>
          </div>

          <div class="column video-box">
            <div class="video-title" [innerHTML]="video_title"></div>
            <ng-container *ngIf="is_playing">
              <div class="video-inner">
                <iframe
                  [src]="video_url_safe"
                  *ngIf="video_url_safe != ''"
                  width="100%"
                  height="100%"
                ></iframe>
              </div>
              <div class="video-slider">
                <div class="custom-slider">
                  <ng5-slider
                    [(value)]="minValue"
                    style="height: unset !important"
                    [(highValue)]="maxValue"
                    [options]="options"
                    (valueChange)="minValueChange()"
                    (highValueChange)="maxValueChange()"
                  ></ng5-slider>
                </div>
                <div class="action-time">{{ active_video_time }}</div>
                <div class="row">
                  <div class="bg-group">
                    <label>{{ "game_time" | translate }}</label>
                    <input [(ngModel)]="active_video_time" />
                    <div class="controls">
                      <div class="control-plus"></div>
                      <div class="control-minus"></div>
                    </div>
                  </div>

                  <div class="bg-group">
                    <label>{{ "cut_before" | translate }}</label>
                    <input  [(ngModel)]="video_before" />
                    <div class="controls">
                      <div class="control-plus"></div>
                      <div class="control-minus"></div>
                    </div>
                  </div>

                  <div class="bg-group">
                    <label>{{ "orez_po" | translate }}</label>
                    <input [(ngModel)]="video_after" />
                    <div class="controls">
                      <div class="control-plus"></div>
                      <div class="control-minus"></div>
                    </div>
                  </div>

                  <div class="bg-group div-btn-play-selected" >
                    <button class="btn-play-selected">
                      <span>{{ "play_selected_section" | translate }}</span>
                    </button>
                  </div>

                  <div class="bg-group div-btn-players-note" >
                    <button class="btn-players-note">
                      <span>{{ "players_note" | translate }}</span>
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="!is_playing">
              <div class="video-inner"></div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
</div>
