.nodata {
  text-align: center;
  padding-top: 40px;
  min-height: 280px;

  img {}

  h3 {
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: #151d22;
    margin-top: 15px;
  }
}
