.no-match {
  text-align: center;
  img {
    width: 20px;
    height: 16px;
  }
}

.matches-row {
  justify-content: center;
  margin-top: 20px;
}

.clickable:hover {
  cursor: pointer;
}
.clickable {
  cursor: pointer;
  color: #1d5cff;

  .play {
    position: absolute;
    top: 12px;
  }
}

.games-row {
  display: flex;
  position: relative;

  &__hidden {
    display: none;
  }

  .games-scroll {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 4px;
    margin-right: 0;
    scroll-behavior: smooth;

    &-inner {
      width: 1000000px !important;
      display: block;
    }

    .game {
      float: left;
      margin-right: 16px;
      width: 128px;
      height: 72px;
      border-radius: 8px;
      border: solid 1px #a2a9b0;
      color: #151d22;
      text-align: center;
      padding: 8px 0;
      cursor: pointer;
      background-color: #ffffff;

      &:last-child {
        margin-right: 1000px;
      }

      &-date {
        font-size: 11px;
        line-height: 1;
        font-weight: 400;
      }

      &-teams {
        font-size: 14px;
        line-height: 1.29;
        margin-top: 2px;
        margin-bottom: 2px;

        img {
          width: 18px;
          vertical-align: bottom;
          margin: 0 4px;
        }

        span {
          font-size: 12px;
          font-weight: 700;
        }
      }

      &-score {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
      }
    }

    .game__active {
      background-image: linear-gradient(#4985ff, #1d5cff);
      border: none;
      color: #fff;
    }

    .game__invisible {
      float: left;
      width: 12502px;
      height: 74px;
    }
  }

  .arrows {
    z-index: 1000;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 16px 0;

    .arrow-left {
      background: url("/assets/arrow-switch.svg") no-repeat;
      //background-size: 24px 24px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transform: rotateY(180deg);
    }

    .arrow-right {
      background: url("/assets/arrow-switch.svg") no-repeat;
      //background-size: 24px 24px;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }

  .ar-l {
    margin-right: 24px;
    border: 1px solid #a2a9b0;
  }

  .ar-r {
    margin-left: 24px;
    border: 1px solid #a2a9b0;
  }
}

.mini-loading {
  img {
    position: absolute;
    left: 50%;
    top: 64%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    animation-direction: reverse;
    z-index: 10;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

.more-filters-row {
  display: none;
}

.more-filters-row-active {
  display: flex;
}

.table-formation-left {
  width: 535px !important;
}
.table-formation-center {
  border-left: 535px solid #fff !important;
}

.table-goalmans,
.table-gamelog,
.table-trend-stats {
  table {
    font-size: 12px;
    line-height: 1;
    color: #263238;

    &.filter-DE {
      tr.post-FO {
        display: none;
      }
    }

    &.filter-FO {
      tr.post-DE {
        display: none;
      }
    }

    .eye {
      width: 32px;
      box-shadow: inset 0 -1px 0 0 #dde1e6;
      padding: 7px;

      a {
        width: 18px;
        display: block;
      }
    }

    tr {
      th,
      td {
        border: 0;
      }

      th {
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        text-transform: uppercase;
        height: 36px;
        background-image: linear-gradient(to bottom, #f2f4f8, #dde1e6 100%);
        color: #121619;
        padding: 0 5px 3px 5px;
        white-space: nowrap;

        &.left {
          text-align: left;
        }
      }

      td.td-content {
        padding: 0;
        font-size: 12px;
        color: #263238;
        box-shadow: inset 0 -1px 0 0 #dde1e6;
        //padding: 2px 8px;
        padding-right: 0px;
        position: relative;
        height: 40px;
        table {
          margin: 0;

          tr {
            td {
              padding: 0;
              text-align: center;
              padding: 0 3px;
            }
          }
        }

        .sticker {
          margin: 3px 2px;
        }

        &__players {
          //width: 220px;
          .team-logo {
            vertical-align: sub;
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .select-data {
    position: relative;

    .toggle-table-data {
      cursor: pointer;
    }

    .ico {
      vertical-align: bottom;
      margin-right: 8px;
    }

    &-inner {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      background: #151d23;
      padding: 10px;
      min-width: 170px;

      .setting-close {
        margin-bottom: 14px;
        text-align: right;
        padding-right: 18px;
        cursor: pointer;

        .ico-close {
          position: absolute;
          right: 16px;
          top: 7px;

          .ico:before,
          .ico:after {
            position: absolute;
            left: 6px;
            top: 2px;
            content: "";
            height: 14px !important;
            width: 2px !important;
            background: #fff;
            border: 0;
            border-radius: 0;
            margin: 0 !important;
          }

          .ico:before {
            transform: rotate(45deg);
          }

          .ico:after {
            transform: rotate(-45deg);
          }
        }
      }

      .setting {
        margin-bottom: 10px;

        .setting-name {
          float: left;
          margin-top: 4px;
        }

        .setting-check {
          float: right;
        }

        &:after {
          display: block;
          content: "";
          clear: both;
        }

        *,
        *:before,
        *:after {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          /*transition*/
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
          outline: none;
        }

        .ios-toggle,
        .ios-toggle:active {
          height: 0;
          width: 0;
          opacity: 0;
          border: none;
          outline: none;
          display: none;
        }
      }
    }
  }
}

.table-goalmans,
.table-gamelog,
.table-trend-stats {
  .filter {
    .form-box {
      width: initial !important;
      max-width: 196px;

      .selected-player {
        height: 38px;
        border-radius: 8px;
        padding: 7px 8px;
        background-color: #f2f4f8;

        &-inner {
          border-radius: 4px;
          background-color: #ffffff;
          font-size: 12px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #121619;
          padding: 3px 6px;
        }
      }
    }

    .toggle-table-data {
      height: 38px;
      border-radius: 8px;
      border: 2px solid #1d5cff;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: #1d5cff;
      display: block;
      white-space: nowrap;
      padding: 7px 40px 0 12px;
      background: url(/assets/icobutton-data.svg) no-repeat;
      background-position: center right 12px;
      cursor: pointer;

      &:hover {
        color: #fff !important;
        background-color: #1d5cff !important;
      }
    }

    .ligovy-percentil,
    .toggle-button {
      width: 100%;
      height: 38px;
      border-radius: 8px;
      border: solid 1px #a2a9b0;
      background-image: linear-gradient(to bottom, #ffffff, #f2f4f8);
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      color: #121619;
      text-transform: none;

      &.active {
        background-image: linear-gradient(to bottom, #4985ff, #1d5cff 100%);
        border: 0;
        color: #fff;
      }

      &:hover {
        .text {
          text-decoration: underline;
        }
      }

      .loading-percentil,
      .text {
        display: inline-block;
      }

      .loading-percentil {
        display: inline-block;
        padding-top: 1px;
        vertical-align: top;
        margin-right: 4px;
        width: 20px;
        height: 20px;
      }

      .text {
        padding-top: 2px;
      }
    }
  }
}

.table-goalmans-box {
  //height: 3000px;

  .table-goalmans-inner {
    position: relative;

    .box-left {
      width: 278px;
      //overflow: hidden;
      box-shadow: 6px 0px 11px -6px rgba(0, 0, 0, 0.75);
      pointer-events: all;

      table {
        margin: 0;

        td {
          background-color: #fff;
        }

        .shoda-selected-row {
          td {
            background-color: #e6e6e6;
          }
        }
      }
    }

    .box-left-formation {
      width: 470px;
      //overflow: hidden;
      box-shadow: 6px 0px 11px -6px rgba(0, 0, 0, 0.75);
      pointer-events: all;

      table {
        margin: 0;

        td {
          background-color: #fff;
        }

        .shoda-selected-row {
          td {
            background-color: #e6e6e6;
          }
        }
      }
    }

    .box-center {
      //overflow-x: scroll;
      //overflow-y: hidden;
      overflow: hidden;
      width: 100%;

      table {
        border-left: 278px solid #fff;
        border-right: 88px solid #fff;

        tr {
          th {
            //background-color: #202e35;
          }
        }
      }
      .formation-table {
        border-left: 470px solid #fff;
        border-right: 88px solid #fff;

        tr {
          th {
            //background-color: #202e35;
          }
        }
      }

      .skala-holder {
        display: flex;
      }
    }

    .left-right-box {
      position: absolute;
      top: 0;
      width: 100%;
      pointer-events: none;
    }

    .box-right {
      /* overflow: hidden; */
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: -6px 0px 11px -6px rgba(0, 0, 0, 0.75);
      pointer-events: all;
      width: 88px;

      table {
        margin: 0;

        td {
          background-color: #fff;
        }

        .shoda-selected-row {
          td {
            background-color: #e6e6e6;
          }
        }
      }

      .download-box {
        position: absolute;
        bottom: -50px;
        z-index: 10;
      }
    }
  }

  &.shadow {
    box-shadow: 6px 0px 11px -6px rgba(0, 0, 0, 0.75);
  }

  table {
    th {
      height: 36px;
    }

    td {
      height: 40px;
    }
  }
}

.box {
  display: flex;
  width: 100%;
  height: 26px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px;
}

.box-team {
  display: flex;
  width: fit-content;
  height: 26px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
}

.box-player {
  display: flex;
  width: fit-content;
  height: 26px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px;
}

.box-toi {
  //padding-right: 8px !important;
  font-weight: 700;
}

.gray-box {
  background: #f2f4f8;
}

.blue-box {
  background: #8b32fc;
}

.red-box {
  background: #f46601;
}

:host /deep/ mfdefaultsorter a {
  color: #121619;
  font-size: 11px;
  text-align: center;
  text-transform: initial;
  font-weight: bold;

  .glyphicon-triangle-bottom {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff;
    display: block;
    float: right;
    margin-top: 5px;
    margin-left: 3px;
    display: none;
  }

  .glyphicon-triangle-top {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid #fff;
    display: block;
    float: right;
    margin-top: 3px;
    margin-left: 3px;
    display: none;
  }
}

:host /deep/ mfbootstrappaginator {
  .pagination {
    margin: 0;
    margin-top: 20px;
    float: left;

    .page-item {
      display: inline-block;
      margin: 0;
      float: left;
      margin-right: 8px;

      .page-link {
        border-radius: 18px;
        border: solid 1px #f2f4f8;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.29;
        text-align: left;
        color: #1d5cff;
        text-transform: none;
        transition: all 0.2s;
        padding: 6px 0;
        width: 30px;
        display: inline-block;
        text-align: center;
      }

      &.active {
        .page-link {
          background-color: #1d5cff;
          color: #fff;
          border-color: #1d5cff;
        }
      }
    }
  }

  .pull-right {
    float: right;
  }
}

.table-shoda-box {
  //height: 3000px;

  .table-shoda-inner {
    position: relative;

    .box-left {
      width: 337px;
      overflow: hidden;
      box-shadow: 8px 9px 14px -6px rgba(0, 0, 0, 0.75);
      pointer-events: all;

      table {
        margin: 0;

        td {
          background-color: #fff;
        }

        .shoda-selected-row {
          td {
            background-color: #e6e6e6;
          }
        }
      }
    }

    .box-center {
      //overflow-x: scroll;
      //overflow-y: hidden;
      overflow: hidden;
      width: 100%;

      table {
        border-left: 337px solid #fff;
        border-right: 200px solid #fff;

        tr {
          th {
            //background-color: #202e35;
          }
        }
      }
    }

    .left-right-box {
      position: absolute;
      top: 0;
      width: 100%;
      pointer-events: none;
    }

    .box-right {
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      box-shadow: -6px 0px 11px -6px rgba(0, 0, 0, 0.75);
      pointer-events: all;
      width: 200px;

      table {
        margin: 0;

        td {
          background-color: #fff;
        }

        .shoda-selected-row {
          td {
            background-color: #e6e6e6;
          }
        }
      }

      .download-box {
        position: absolute;
        bottom: -50px;
        z-index: 10;
      }
    }
  }

  &.shadow {
    box-shadow: 6px 0px 11px -6px rgba(0, 0, 0, 0.75);
  }

  table {
    th {
      height: 36px;
    }

    td {
      height: 33px;
    }
  }
}

.table-individual-stats,
.table-shoda {
  table {
    font-size: 12px;
    line-height: 1;
    color: #263238;

    &.filter-DE {
      tr.post-FO {
        display: none;
      }
    }

    &.filter-FO {
      tr.post-DE {
        display: none;
      }
    }

    .eye {
      width: 32px;
      box-shadow: inset 0 -1px 0 0 #dde1e6;
      padding: 7px;

      a {
        width: 18px;
        display: block;
      }
    }

    tr {
      th,
      td {
        border: 0;
      }

      th {
        font-size: 10px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #121619;
        text-transform: uppercase;

        //box-shadow: inset 0 -1px 0 0 #121619;
        background-image: linear-gradient(to bottom, #f2f4f8, #dde1e6 100%);
        height: 37px;
        padding: 0 5px 3px 5px;
        white-space: nowrap;

        &.left {
          text-align: left;
        }

        a {
          color: #121619;
        }
      }

      td.td-content {
        padding: 0;
        font-size: 12px;
        color: #263238;
        box-shadow: inset 0 -1px 0 0 #dde1e6;
        padding: 2px 8px;
        position: relative;
        height: 40px;
        width: 105px;

        table {
          margin: 0;

          tr {
            td {
              padding: 0;
              text-align: center;
              padding: 0 3px;
            }
          }
        }

        .sticker {
          margin: 3px 2px;
          width: max-content;
        }

        &__players {
          //width: 220px;
          .team-logo {
            vertical-align: sub;
          }
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .select-data {
    position: relative;

    .toggle-table-data {
      cursor: pointer;
    }

    .ico {
      vertical-align: bottom;
      margin-right: 8px;
    }

    &-inner {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      background: #151d23;
      padding: 10px;
      min-width: 170px;

      .setting-close {
        margin-bottom: 14px;
        text-align: right;
        padding-right: 18px;
        cursor: pointer;

        .ico-close {
          position: absolute;
          right: 16px;
          top: 7px;

          .ico:before,
          .ico:after {
            position: absolute;
            left: 6px;
            top: 2px;
            content: "";
            height: 14px !important;
            width: 2px !important;
            background: #fff;
            border: 0;
            border-radius: 0;
            margin: 0 !important;
          }

          .ico:before {
            transform: rotate(45deg);
          }

          .ico:after {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }
}

.normal-cell {
  padding: 7px 6px;
  border-radius: 3px;
  background-color: transparent;
  width: 100%;
  display: block;
}

.tr {
  display: flex;
  justify-content: space-around;

  .td {
    width: 46%;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphic_overview {
  color: #121619;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    .team {
      display: flex;
      font-size: 20px;
      //justify-content: center;
      align-items: center;
      width: 30%;

      .team-logo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px -10px #121619;
        margin: 0 16px;

        img {
          width: 48px;
          height: 48px;
        }
      }
    }

    .score {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin: 0 66px;

      .thirds {
        font-size: 12px !important;
        font-weight: normal !important;
      }
    }
  }

  .expected-win {
    font-size: 16px;
    color: #121619;
    font-weight: bold;
    margin-top: 32px;
    .graph {
      width: 528px;
      height: 32px;
      border-radius: 8px;
      margin: 0 16px;
      background-color: #f2f4f8;
      position: relative;
      .fill {
        position: absolute;
        height: 32px;
      }
      .left {
        right: 0;
        border-radius: 0 8px 8px 0;
        background-image: linear-gradient(to bottom, #8b32fc, #6a1dc4);
      }
      .right {
        left: 0;
        border-radius: 8px 0 0 8px;
        background-image: linear-gradient(to bottom, #f46601, #cb5501);
      }
    }
    .perc {
      width: 60px;
    }
    .text {
      margin: 0 10px;
    }
  }

  .expected-goals {
    border-bottom: 1px solid #dde1e6;
    margin-top: 32px;
    padding-bottom: 32px;
    .text {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #121619;
      width: 127px;
    }

    .top-players {
      min-width: 30%;

      .player {
        display: flex;
        align-items: center;
        font-size: 12px;
        .bold {
          font-weight: bold;
        }

        .bar {
          position: relative;
          width: 128px;
          height: 12px;
          margin: 0 16px;
          border-radius: 4px;
          background-color: #f2f4f8;

          .fill {
            position: absolute;
            height: 12px;
          }
        }
      }
      .left {
        width: fit-content;
        margin-left: auto;
        .fill {
          right: 0;
          background-image: linear-gradient(to bottom, #8b32fc, #6a1dc4);
          border-radius: 4px;
        }
      }
      .right {
        justify-content: start;

        .fill {
          left: 0;
          border-radius: 4px;
          background-image: linear-gradient(to bottom, #f46601, #cb5501);
        }
      }
    }
    .circle {
      width: 138px;
      height: 138px;
      border-radius: 50%;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      margin: 0 32px;
      background-color: #f2f4f8;
      .inner-circle {
        border-radius: 50%;
      }
    }
  }

  .shots {
    margin-top: 47px;
    border-bottom: 1px solid #dde1e6;
    padding-bottom: 32px;
    .stats {
      width: 20%;

      .danger {
        display: flex;
        padding: 2px 0;
        .mini-circle {
          background-color: #f2f4f8;
          border-radius: 50%;
          position: relative;
          width: 40px;
          height: 40px;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 0 2px;
          .value-name {
            position: absolute;
            top: -22px;
            color: #000;
            font-weight: bold;
            font-size: 10px;
          }
        }
      }
    }

    .left {
      .danger {
        display: flex;
        width: 292px;
        justify-content: flex-end;
        align-items: center;

        .gap {
          margin-left: 16px;
        }
      }
    }

    .right {
      .danger {
        display: flex;
        width: 292px;
        justify-content: flex-start;
        align-items: center;

        .gap {
          margin-right: 16px;
        }
      }
    }

    .circle {
      width: 138px;
      height: 138px;
      border-radius: 50%;
      color: #ffffff;
      font-size: 20px;
      font-weight: bold;
      margin: 0 32px;
      background-color: #f2f4f8;
      .inner-circle {
        border-radius: 50%;
      }
    }

    .text {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #121619;
      width: 127px;
    }
  }

  .heatmap {
    border-bottom: 1px solid #dde1e6;
    padding-bottom: 32px;
    margin-top: 32px;

    .text {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: #121619;
    }

    .heatmap-simple {
      margin-bottom: 32px;
    }
    .teams {
      .team {
        width: 232px;
        height: 40px;
        border-radius: 8px;
        border: 2px solid #1d5cff;
        color: #1d5cff;
        margin: 0 148px;
        font-size: 14px;
        font-weight: bold;
        text-transform: inherit !important;

        a {
          color: #1d5cff;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .team:hover {
        color: #fff;
        background-color: #1d5cff;
        a {
          color: #fff;
        }
      }
    }
  }

  .game-story {
    border-bottom: 1px solid #dde1e6;
    padding-bottom: 32px;
    margin-top: 32px;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 32px;
    }
  }

  .shootings-superiority {
    margin-top: 32px;
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 16px;
      margin: 0 45px;
    }

    .map-wrapper {
      display: flex;
      justify-content: center;
      margin-right: 28px;
    }

    .team {
      width: 232px;
      height: 40px;
      border-radius: 8px;
      border: 2px solid #1d5cff;
      color: #1d5cff;
      margin: 0 30px;
      font-size: 14px;
      font-weight: bold;
      background-color: #fff;
      letter-spacing: unset;
      text-transform: inherit !important;

      &:hover {
        color: #fff;
        background-color: #1d5cff;
      }
    }

    .active {
      color: #fff;
      background-color: #1d5cff;
    }
  }
}

.space {
  margin-right: 4px;
}

.report {
  color: #121619;

  .download-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      display: flex;
      align-items: center;
      padding-left: 12px;
      width: 168px;
      height: 40px;
      border-radius: 8px;
      border: 2px solid #1d5cff;
      color: #1d5cff;
      margin: 0 2px;
      font-size: 14px;
      font-weight: bold;
      background-color: #fff;
      text-transform: initial;
      letter-spacing: unset;
      background: url(/assets/export_ico.svg) no-repeat;
      background-position: center right 10px;
    }

    .print {
      background: url(/assets/print.svg) no-repeat;
      background-position: center right 10px;
    }

    button:hover {
      transform: 1s;
      color: #fff;
      background-color: #1d5cff;
    }
  }

  .mini-loading-report {
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    border-radius: 4px;

    img {
      width: 25px;
      height: 25px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
      animation-direction: reverse;
      z-index: 10;
    }
  }

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    .team {
      display: flex;
      font-size: 20px;
      //justify-content: center;
      align-items: center;
      width: 30%;

      .team-logo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px -10px #121619;
        margin: 0 16px;

        img {
          width: 48px;
          height: 48px;
        }
      }
    }

    .score {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      margin: 0 66px;

      .thirds {
        font-size: 12px !important;
        font-weight: normal !important;
      }
    }
  }

  .goals {
    padding-bottom: 32px;
    border-bottom: 1px solid #dde1e6;

    .row-golas {
      display: flex !important;
      justify-content: center;
      align-items: center;

      .row-holder {
        height: 33px;
        padding-bottom: 15px;
        display: flex;
        width: 740px;
        border-bottom: 1px solid #dde1e6;

        .content {
          display: flex;
          justify-content: center;
          align-items: center;

          .game-state {
            margin: 0 16px;
          }
        }
      }

      .left {
        justify-content: flex-end;
        .play-button {
          display: flex;
          margin-left: 8px;
        }
        .play-button:hover {
          cursor: pointer;
        }
      }

      .right {
        justify-content: flex-start;
        .play-button {
          display: flex;
          margin-right: 8px;
        }
        .play-button:hover {
          cursor: pointer;
        }
      }
    }

    .score-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #f2f4f8;
      margin: 0 16px 15px 16px;
    }

    .video-buttons {
      display: flex;
      justify-content: center;
      margin-top: 32px;
      .button {
        width: 232px;
        height: 40px;
        border-radius: 8px;
        border: 2px solid #1d5cff;
        color: #1d5cff;
        margin: 0 30px;
        font-size: 14px;
        font-weight: bold;
        background-color: #fff;
        text-transform: initial;
        letter-spacing: unset;
      }

      .button:hover {
        transform: 1s;
        color: #fff;
        background-color: #1d5cff;
      }
    }
  }

  .game-report {
    th {
      padding: 0;
      height: 37px;
      background-color: #fff !important;
    }

    margin-top: 32px;
    .header {
      font-size: 20px;
      margin-bottom: 4px;
    }
    .stats {
      margin-bottom: 32px;
    }

    .button {
      width: 180px;
      height: 40px;
      border-radius: 8px;
      border: 2px solid #1d5cff;
      color: #1d5cff;
      font-size: 14px;
      font-weight: bold;
      background-color: #fff;
      text-transform: initial;
      letter-spacing: unset;
    }

    .button:hover {
      transform: 1s;
      color: #fff;
      background-color: #1d5cff;
    }

    .table-name {
      font-size: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 16px;
    }

    .table {
      width: 1552px;
      position: relative;

      .open {
        background-color: #f2f4f8;

        .tr {
          padding-top: 5px;
        }

        .show-more {
          color: #1d5cff;
          font-size: 12px;
          font-weight: bold;
          margin-top: 6px;
          margin-left: 18px;
          justify-content: flex-start;

          a {
            color: #1d5cff;
          }
        }
      }

      .height-fix-end {
        justify-content: flex-end !important;
        align-items: flex-start !important;
        height: 100%;
        padding-top: 8px;
      }
      .height-fix-center {
        align-items: flex-start !important;
        height: 100%;
        padding-top: 8px;
      }
      .height-fix-start {
        justify-content: flex-start !important;
        align-items: flex-start !important;
        height: 100%;
        padding-top: 8px;
      }

      .logos {
        position: absolute;
        display: flex;
        justify-content: space-around;
        width: 370px;
        top: -58px;
        left: 55px;
        z-index: 1;

        .team-logo {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 20px -10px #121619;
          margin: 0 16px;
          background-color: #fff;

          img {
            width: 48px;
            height: 48px;
          }
        }
      }
      tr {
        td:first-of-type {
          padding-left: 8px;
        }

        td {
          width: 16px;
          height: 16px;
          font-size: 12px;
          padding: 0;
          height: 37px;
          .td {
            background-color: #fff;
            border-radius: 4px;
            height: 27px;
            margin: 0 4px;
            justify-content: center;
            align-items: center;
            display: flex;
            font-size: 12px;
          }

          th {
            padding: 0;
            height: 37px;
            background-color: #fff !important;
          }
        }

        .border {
          border-left: 1px solid #dde1e6;
          border-bottom: 1px solid #dde1e6;
        }

        th {
          width: 232px;
          height: 37px;
          font-weight: bold;
          font-size: 10px;
          text-transform: to-upper-case($string: uppercase);
          background-image: linear-gradient(to bottom, #f2f4f8, #dde1e6);
        }
      }

      .tr {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .td {
          width: 80px;
        }
      }

      .players:first-child {
        margin-top: 16px;
      }

      .players {
        justify-content: flex-start;
        margin-left: 13px;
        margin-top: 4px;
        .count {
          width: 25px;
          height: 26px;
        }
        .player {
          padding: 4px 8px;
          width: fit-content;
        }
      }
    }
  }
}

.pointer:hover {
  cursor: pointer;
}

.table-h2h {
  padding-top: 30px;

  .table-row {
    display: flex;
    justify-content: center;
  }

  .h2h-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    color: #000;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  .table-row {
    &:after {
      display: block;
      content: "";
      clear: both;
    }

    .teams-divider {
      width: 146px;
      height: 146px;
      position: relative;
      border-right: 1px solid #546e7a;
      border-bottom: 1px solid #546e7a;
      float: left;

      &::before {
        content: "";
        display: block;
        width: 205px;
        height: 2px;
        background: #546e7a;
        transform: rotateZ(45deg);
        top: 73px;
        position: absolute;
        left: -30px;
      }

      .team1 {
        position: absolute;
        bottom: 15px;
        right: 50px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #000;
      }

      .team2 {
        position: absolute;
        bottom: 58px;
        right: 8px;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        transform: rotateZ(90deg);
      }

      .home-logo {
        position: absolute;
        width: 50px;
        left: 3px;
        bottom: 7px;
      }

      .away-logo {
        position: absolute;
        width: 50px;
        right: 0;
        top: 0;
      }
    }
  }

  .player-vertical {
    width: 32px;
    overflow: hidden;
    height: 146px;
    position: relative;
    float: left;
    border-bottom: 1px solid #546e7a;

    .player-inner {
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      writing-mode: vertical-rl;
      width: 100%;
      text-align: right;
      height: 100%;
      padding-right: 7px;
      padding-bottom: 10px;

      span {
        width: 17px;
        height: 17px;
        border: solid 1px #f46601;
        color: #f46601;
        border-radius: 100%;
        display: inline-block;
        padding-right: 3px;
        vertical-align: text-top;
        font-size: 10px;
        margin-top: 6px;
        text-align: center;
      }
    }
  }

  .player-horizontal {
    width: 146px;
    overflow: hidden;
    height: 32px;
    position: relative;
    float: left;
    border-right: 1px solid #546e7a;

    .player-inner {
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
      color: #000;
      width: 100%;
      text-align: right;
      padding-right: 13px;
      height: 100%;
      padding-top: 8px;

      span {
        width: 17px;
        height: 17px;
        border-radius: 100%;
        display: inline-block;
        font-size: 10px;
        border: solid 1px #8b32fc;
        color: #8b32fc;
        padding-top: 3px;
        margin-left: 6px;
        text-align: center;
      }
    }
  }

  .graph-box {
    float: left;
    width: 32px;
    height: 32px;

    .h2h-tooltip {
      opacity: 0;
      visibility: hidden;
      position: relative;
      top: 0;
      right: calc(-100%);
      z-index: 100000;
      background: #f1f1f1d9;
      border: 1px solid #b5b5b5;
      color: #000;
      text-align: left;
      border-radius: 6px;
      font-size: 11px;
      width: 100px;
      padding: 4px 7px;
      border-top-left-radius: 0;

      .blue {
        color: #8b32fc;
      }

      .red {
        color: #f46601;
      }
    }

    &:hover {
      background: #303f48;

      .h2h-tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .border-right-obranci {
    border-right: 1px solid #000;
  }

  .border-bottom-obranci {
    border-bottom: 1px solid #000;
  }
}
